@using News.Admin.DTO.NewsDto
@model NewsItemDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewsItemDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Media File
        </dt>
        <dd class="col-sm-10">
            @{
                var ext = System.IO.Path.GetExtension(Model.MediaUrl)?.ToLower();
            }
            @if (ext == ".jpg" || ext == ".jpeg" || ext == ".png" || ext == ".gif")
            {
                <img src="@Model.MediaUrl"
                     width="300" height="150"
                     style="object-fit: cover; cursor: pointer;"
                     data-toggle="modal"
                     data-target="#modal-@Model.Id" />

                <div class="modal fade" id="modal-@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 700px;" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center p-0">
                                <img src="@Model.MediaUrl"
                                     alt="Full Image"
                                     style="width: 100%; height: auto; max-height: 500px; object-fit: contain;" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (ext == ".mp4")
            {
                <video width="300" height="150" controls>
                    <source src="@Model.MediaUrl" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                <span>Unknown media</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @if (Model.UpdatedAt == null)
            {
                <text>have not updated yet</text>
            }
            else
            {
                @Html.DisplayFor(model => model.UpdatedAt)
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="modalMediaContent"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/media-edit-modal.js"></script>
}
